<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>Burgerama Devour Menu</title>
</head>

<body>
    {{{ body }}}
     <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">© 2018 Jdelta9</span>
              <a href="https://github.com/Jdelta9/burger">Reference Work</a>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="/assets/js/script.js"></script>
         </div>
    </footer>
</body>

</html>
